*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

\.classpath

data\.js

client_secret\.json

Events\.txt

\.settings/org\.eclipse\.jdt\.core\.prefs

\.project

gradlew

gradlew\.bat

HardCodedEvents\.txt

IDnames_alpha\.txt

IDNames_num\.txt

IDNames\.js

IDNames\.txt_old

Items\.txt
/bin/

day\.txt

Events-Auctions\.txt

out2\.txt

out\.txt

.~lock.*

Events-Vendor\.txt

*.csv

directories\.txt

apikey\.txt

Events-All\.txt

data-file-locations\.txt

graph_data\.txt

graph\.txt

Events-Auction\.txt

Events-COD\.txt

Events-Trade\.txt

*.bak

realms.txt

ah-data.txt

all realms.txt

connected.txt

debug.txt

gtransfer-events.txt

inventory.txt

Purchases.txt

Sales.txt

which-files.txt

settings.txt

src/Accounting.java

Accounting-Events.txt

lib/

.vscode/